# Prepare Data

### Import

In [8]:
from glob import glob

import pandas as pd

# data visualisation
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

#Transformers
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

#Modeling
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge

### Explore

In [33]:
def wrangle(filepath):
    '''
    This function 
    
    input: Filepath for dataset to used
    output: Returns a clean dataframe for analysis
    '''
    
    df = pd.read_csv(filepath)
    #subsetting for Nigeria only
    mask_NIG = df['Area'] == 'Nigeria'
    df = df[mask_NIG]
    
    
    #creating a pivot table
#     df = pd.pivot_table(df, index = "Year" , columns = "Item", values ="Value")
    
    return df

In [6]:
files = glob('*.csv') 
files

['crop1.csv', 'live1.csv', 'pop1.csv']

In [37]:
to_be_used = ['crop1.csv', 'live1.csv']
frame = [wrangle(file) for file in to_be_used]
frame = pd.concat(frame, ignore_index= True)
print(frame.shape)
frame.head()

(7795, 6)

      Area               Item         Element  Year Unit   Value
0  Nigeria  Bastfibres, other  Area harvested  1981   ha  1000.0
1  Nigeria  Bastfibres, other  Area harvested  1982   ha  1000.0
2  Nigeria  Bastfibres, other  Area harvested  1983   ha  1000.0
3  Nigeria  Bastfibres, other  Area harvested  1984   ha  1000.0
4  Nigeria  Bastfibres, other  Area harvested  1985   ha  1000.0

6

In [32]:
frame = wrangle('live1.csv')
print(frame.shape)
frame

(60, 10)

Item,Asses,Beehives,Camels,Cattle,Chickens,Goats,Horses,Pigs,Rabbits and hares,Sheep
Year,,,,,,,,,,
1961,1398000.0,NaN,14000.0,6028000.0,37360.0,623000.0,281500.0,640000.0,NaN,1019000.0
1962,1364000.0,NaN,14500.0,6311000.0,38710.0,758000.0,272000.0,660000.0,NaN,1165000.0
1963,1330000.0,NaN,14500.0,6627000.0,40150.0,917000.0,262500.0,680000.0,NaN,1341000.0
1964,1296000.0,NaN,15000.0,6946000.0,41650.0,1113000.0,253000.0,700000.0,NaN,1544000.0
1965,1240000.0,NaN,16000.0,7236000.0,43240.0,1336000.0,351000.0,720000.0,NaN,1751000.0
1966,984654.0,NaN,16500.0,7516000.0,44890.0,1595000.0,356333.0,740000.0,NaN,1982000.0
1967,900000.0,NaN,17000.0,7828000.0,46640.0,1903000.0,350000.0,770000.0,NaN,2241000.0
1968,880000.0,NaN,18000.0,8190000.0,48470.0,2267000.0,345000.0,800000.0,NaN,2513000.0
1969,860000.0,NaN,18000.0,8578000.0,50410.0,2732000.0,340000.0,826000.0,NaN,2868000.0
1970,840000.0,NaN,19000.0,8887000.0,52440.0,3151000.0,335000.0,840000.0,NaN,3219000.0
1971,820000.0,NaN,20000.0,9203000.0,54590.0,3673000.0,300000.0,865000.0,NaN,3578000.0
1972,760000.0,NaN,19000.0,9550000.0,56840.0,4304000.0,255000.0,878000.0,NaN,4022000.0
1973,720000.0,NaN,18000.0,9975000.0,59210.0,4977000.0,250000.0,872000.0,NaN,4485000.0
1974,710000.0,NaN,17600.0,10253000.0,61700.0,5607000.0,248000.0,865000.0,NaN,4940000.0
1975,720000.0,NaN,17500.0,10548000.0,64380.0,6344000.0,240000.0,880000.0,NaN,5379000.0
1976,700000.0,NaN,17000.0,10962000.0,67110.0,7337000.0,236000.0,900000.0,NaN,5970000.0
1977,700000.0,NaN,17000.0,11223000.0,70030.0,8277000.0,234000.0,950000.0,NaN,6523000.0
1978,700000.0,NaN,17000.0,11576000.0,73100.0,9201000.0,232000.0,1000000.0,NaN,7041000.0
1979,700000.0,NaN,17000.0,11877000.0,76340.0,10266000.0,230000.0,1000000.0,NaN,7540000.0
1980,700000.0,NaN,17200.0,12108000.0,79760.0,11297000.0,228000.0,1000000.0,NaN,8050000.0
1981,700000.0,NaN,17400.0,12214000.0,83370.0,12328000.0,226000.0,1000000.0,NaN,8475000.0
1982,700000.0,NaN,17700.0,12386000.0,87160.0,13680000.0,224000.0,1000000.0,NaN,8943000.0
1983,700000.0,NaN,17800.0,12584000.0,91170.0,14822000.0,222000.0,1000000.0,NaN,9411000.0
1984,730000.0,NaN,17800.0,12702000.0,93390.0,15962000.0,220000.0,1300000.0,NaN,9815000.0
1985,760000.0,NaN,17850.0,12908000.0,99850.0,16890000.0,218000.0,1600000.0,NaN,10359000.0
1986,800000.0,NaN,17900.0,13156000.0,104560.0,19130000.0,216000.0,2000000.0,NaN,10701000.0
1987,830000.0,NaN,18000.0,13415000.0,109510.0,20335008.0,214000.0,2400000.0,NaN,11107000.0
1988,860000.0,NaN,18000.0,13759000.0,114740.0,21539008.0,212000.0,2600000.0,NaN,11575000.0
1989,900000.0,NaN,18000.0,13957940.0,120270.0,23462000.0,210000.0,3000000.0,NaN,11971000.0
1990,936000.0,691.0,18000.0,13947000.0,126090.0,23321008.0,208000.0,3410000.0,1721.0,12460000.0
1991,960000.0,0.0,18000.0,14016740.0,120000.0,23500000.0,206000.0,3546400.0,0.0,13000000.0
1992,1000000.0,0.0,18000.0,14086820.0,118000.0,24000000.0,205000.0,3688256.0,0.0,13500000.0
1993,1000000.0,NaN,18000.0,14807320.0,120000.0,25000000.0,204000.0,3835786.0,NaN,14000000.0
1994,1000000.0,NaN,18000.0,14881350.0,122000.0,27500000.0,204000.0,3989218.0,NaN,15000000.0
1995,1000000.0,NaN,14881.0,15000000.0,124000.0,30000000.0,204000.0,4148786.0,NaN,16000000.0
1996,1000000.0,NaN,19105.0,15050000.0,125000.0,32500000.0,204000.0,4314738.0,NaN,17000000.0
1997,1000000.0,NaN,20000.0,15073000.0,126000.0,35000000.0,204000.0,4487326.0,NaN,19500000.0
1998,1000000.0,NaN,40000.0,15088100.0,126000.0,37500000.0,204000.0,4666817.0,NaN,21500000.0
1999,1000000.0,NaN,60000.0,15103200.0,126000.0,40000000.0,204000.0,4853487.0,NaN,24000000.0
2000,1000000.0,NaN,80000.0,15118300.0,113200.0,42500000.0,204000.0,5047624.0,NaN,26000000.0
2001,1000000.0,NaN,100000.0,15133400.0,124620.0,45260400.0,205000.0,5249540.0,NaN,28692600.0
2002,1000000.0,NaN,120000.0,15148600.0,131125.0,46400000.0,205000.0,6111824.0,NaN,29400000.0
2003,1000000.0,NaN,140000.0,15163700.0,137680.0,47551700.0,205000.0,5677900.0,NaN,30086400.0
2004,1050000.0,NaN,160000.0,15700000.0,143500.0,48700000.0,204426.0,5910000.0,NaN,30800000.0
2005,1050000.0,NaN,180000.0,15875266.0,150700.0,49959000.0,203215.0,6141220.0,NaN,31547900.0
2006,1080000.0,NaN,200000.0,16013382.0,158400.0,51208220.0,160592.0,6386868.0,NaN,32305000.0
2007,1060000.0,NaN,220000.0,16152700.0,166127.0,52488200.0,147157.0,6642340.0,NaN,33080400.0
2008,1065000.0,NaN,240000.0,16293200.0,174434.0,53800400.0,104053.0,6908030.0,NaN,33874300.0
2009,1065000.0,NaN,260000.0,16434978.0,183156.0,55145440.0,102492.0,7184356.0,3690.0,34687264.0
2010,1200000.0,NaN,277727.0,16577962.0,192313.0,56524076.0,101509.0,7471730.0,3838.0,35519760.0
2011,1220000.0,NaN,278005.0,19041270.0,148893.0,67292536.0,101611.0,6282453.0,3838.0,38376024.0
2012,1250000.0,NaN,278283.0,19206928.0,159254.0,68974848.0,101713.0,6533751.0,3991.0,39335424.0
2013,1265000.0,NaN,278561.0,19374029.0,134839.0,70699218.0,101715.0,6795101.0,4151.0,40318809.0
2014,1270000.0,NaN,279215.0,19753249.0,137240.0,71958213.0,101862.0,6991989.0,4370.0,41284022.0
2015,1279505.0,NaN,279534.0,20184763.0,142895.0,72527691.0,102147.0,7368216.0,4599.0,41632158.0
2016,1294377.0,NaN,279397.0,19884104.0,167510.0,76135326.0,102120.0,7643563.0,4669.0,43418947.0
2017,1329270.0,NaN,279677.0,20057095.0,180073.0,78038709.0,102222.0,7949306.0,4856.0,44504420.0
2018,1301051.0,NaN,279986.0,20201433.0,184347.0,80244703.0,102200.0,7986808.0,4875.0,45712971.0
2019,1308233.0,NaN,289086.0,20527245.0,167385.0,82633730.0,101929.0,7989206.0,4820.0,46842001.0
2020,1312851.0,NaN,291166.0,20744892.0,166125.0,83715241.0,103234.0,7990514.0,4867.0,47743807.0

In [22]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 542 entries, 63942 to 64483
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Area     542 non-null    object
 1   Item     542 non-null    object
 2   Element  542 non-null    object
 3   Year     542 non-null    int64
 4   Unit     542 non-null    object
 5   Value    498 non-null    float64
dtypes: float64(1), int64(1), object(4)
memory usage: 29.6+ KB

### Split

# Build Model

### Baseline

### Iterate

### Evaluate

# Communicate Results